<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Second Page</title>
	</head>
	<body>
		<p>Penjumlahan</p>
		<p th:text="${a} + ' + ' + ${b} + ' = ' + ${a + b}"></p>
	</body>
</html>